<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}自动化测试&监控{% endblock %}</title>  

<script type="text/javascript"> 
function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}
var resizeShade = function (shade) {
        var top= document.documentElement.scrollTop;                     
        var winsize= document.documentElement.offsetHeight;                     
        var docsize= document.documentElement.scrollHeight;                     
        shade.style.height= Math.max(winsize, docsize)+'px';                                             
        shade.style.zIndex = parseInt(shade.style.zIndex) + 1;                    
};    
var showShade= function(s, doc) {    
     if(s != "1")
        return;
     var shade= doc.getElementById('shadeAllFrames');             
    if (!('maxHeight' in doc.body.style)) {                  
        shade.style.position= 'absolute';                 
        window.onscroll=window.onresize= modalsize;                     
        resizeShade(shade);            
    }    
    shade.style.display= 'block';       
 };      
 var showLogIn= function(s,doc) {    

    var a= doc.getElementById('modallogin');
    if(s != "1"){
        a.style.display= 'none';  
        return;
    };
	
	
    if (!('maxHeight' in doc.body.style)) {                  
        a.style.position= 'absolute';                 
        window.onscroll=window.onresize= modalsize;                     
        resizeShade(a);            
    }    
    a.style.display='block';     
    document.getElementById('send_form').disabled=false;
    document.getElementById('cancel_form').disabled=false;
	var msg= document.getElementById('msg_submit_return');
        msg.innerHTML= "";
 };    
 
var setValues= function( i) {
    all_configs_str = "{{ConfigInfo}}".replace(/&#39;/g, '"');;

	all_configs = JSON.parse(all_configs_str);
	var v = all_configs[i];
    var h = document.getElementById('id_host');
    var o = document.getElementById('id_org');
    var a = document.getElementById('id_app');
    var c_id = document.getElementById('id_clientid');
    var c_se = document.getElementById('id_clientse');
    var im = document.getElementById('id_imserver');
	var im_p = document.getElementById('id_import');
	var kefu_srv = document.getElementById('id_kefu_srv');
	var e = document.getElementById('id_mail');
    var n = document.getElementById('id_test');
    
	h.value = v.server;
	o.value = v.org;
	a.value = v.app;
	c_id.value = v.credential.client_id;
	c_se.value = v.credential.client_secret;
	im.value = v.imserver[0];
	im_p.value=v.imserver[1];
	if (v["kefu"] != undefined){
		kefu_srv.value=v.kefu;
	}else{
		kefu_srv.value='';
	}
	if (e.value==''){
	e.value='@easemob.com';
	};
	n.value='regression';
	
}
 
</script>


<script type="text/javascript">
function callAjax(url, callback){
    var xmlhttp;
    // compatible with IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function(){
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
            callback(xmlhttp.responseText);
        }
    }
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
}


var submittest = function (){   
	//var p = document.getElementById('id_prj');
    var h = document.getElementById('id_host');
    var o = document.getElementById('id_org');
    var a = document.getElementById('id_app');
    var c_id = document.getElementById('id_clientid');
    var c_se = document.getElementById('id_clientse');
	var im = document.getElementById('id_imserver');
    var m = document.getElementById('id_mail');
    var n = document.getElementById('id_test');
	var kefusrv= document.getElementById('id_kefu_srv');
    var send = document.getElementById('send_form');
    var cancel = document.getElementById('cancel_form');


    var url = "";

    url = '/run/?h='+h.value+'&im='+im.value+'&o='+o.value+'&a='+a.value+'&c_id='+c_id.value+'&c_se='+c_se.value+'&m='+m.value+'&n='+n.value+'&t='+'{{test_type}}'+'&kefusrv='+kefusrv.value;
    send.disabled=cancel.disabled=true;

    // Send out request
    callAjax(url,
      // function pointer : process data got from server
      function(data) {
        data =JSON.parse(data);
        var msg= document.getElementById('msg_submit_return');
        msg.innerHTML= data.msg;
        if(data.started=="0"){
            msg.style.color = 'green';
            setTimeout(function(){
              //your code to be executed after 5 seconds
             document.getElementById('myModal').class= 'modal hide fade';
			 post('/', {t:'{{test_type}}',name:m.value});
             //parent.parent.location.reload();
            }, 3000);

         }
         else{

            msg.style.color = 'red';
             // log in failure
            send.disabled=cancel.disabled=false;

         }
        }
    );
     
};

var retrytest = function (testcaseid){   

    var url = "";

    url = '/retry/?id='+testcaseid;
	var btn = document.getElementById("send_retry_"+testcaseid);
	btn.style.display="none";
    // Send out request
    callAjax(url, 
      // function pointer : process data got from server
      function(data) {    
        data =JSON.parse(data);
        if(data.status=="0"){ 
            alert(data.msg);   
			location.reload();

         } 
         else{     
             // log in failure
            btn.style.display="block";
			alert(data.msg); 
			

         }
        }
    ); 
     
};
function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}

</script> 


{% load static %}
    <!-- Bootstrap -->

	<link href="{% get_static_prefix %}css/bootstrap.css" rel="stylesheet">
	
	
	<script type="text/javascript" src="{% get_static_prefix %}js/jquery.min.js"></script>
	<script type="text/javascript" src="{% get_static_prefix %}js/analytics.js"></script>
	<script src="{% get_static_prefix %}js/bootstrap-transition.js"></script>
	<script src="{% get_static_prefix %}js/bootstrap-alert.js"></script>
	<script type="text/javascript" src="{% get_static_prefix %}js/bootstrap-modal.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	
    <script src="{% get_static_prefix %}js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
	
	

	
{% block content %}{% endblock %}

  </body>
</html>