
<!doctype html>
<html lang="zh-hans">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title data-i18n="webapp.config.preview_config"></title>
	<meta name="description" content="xdf-save-visitors">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body { background-color: #eee;color: #555; }
		button, a { display: block;margin: 20px 0;background: #00CEB9;border: none;color: #fff;line-height: 40px;width: 200px;cursor: pointer;outline: none;text-align: center; }
		button:hover, a:hover { box-shadow: 0 0 5px #33CEB9; }
		button:active, a:active { background: #fff;color: #00CEB9; }
		input { height: 40px;outline: none;width: 300px;text-align: center;font-size: 16px;color: #00CEB9; float: left;border: 1px solid #fff; }
	</style>

</head>
<body>

<header>
	<!-- 为了避免异步问题，easemob.js加载成功前不显示search-bar -->
	<div class="search-bar" style="display: none;">
		<div class="js-search-bar-box" >
			<span id="js-protocol" class="protocol">https://</span>
			<input type="text" id="js-input-url" name="name" value="">
			<button type="button" id="js-preview-btn" name="button"></button>
		</div>
	</div>
</header>
{% load static %}
	<!--<script type="text/javascript" src="../../jquery.1.9.1.js"></script>-->
    <!--<script type="text/javascript" src="{{STATIC_URL}}/common.js"></script>-->
	<script src="{% get_static_prefix %}common.js"></script>
	<script src="{% get_static_prefix %}jquery.1.9.1.js"></script>

    <button onclick="launchWebim()" class="custom-button">主动发送轨迹消息</button>

<script>
window.easemobim = window.easemobim || {};
	var userMsg = GetRequest(window.location.href);
    console.log(userMsg)
    
	configId = userMsg.configId;
	console.log(configId)
    easemobim.config = {
        domain: '//kefu.easemob.com/', 
        configId: configId,
    };

</script>

<script>
	function _bind(argument) {
		easemobim.bind({
			configId: configId,
		});
	}

	function launchWebim(){
		easemobim.bind({
			configId: configId,
		});
}
</script>

<script>

</script>

<script src='//kefu.easemob.com/webim/easemob.js'></script>


</body>
</html>
