<!doctype html>
<html>
<head>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
<title>沙箱个人专用客服</title>
<style>
a {    display: block;background-color: #00A5FF;width: 200px;padding: 10px;line-height: 20px;text-decoration: none;border-radius: 4px;margin-top: 30px;color: #fff;
}
</style>
</head>
<body style='/*background-color:#aaa;*/' >
<!--CONFIG DEMO-->

<script>
window.define = function(){};
window.define.amd = {};
window.easemobim = window.easemobim || {};
easemobim.config = {
	tenantId: '634',										//租户id
	// configId:'259b473e-ea32-4f1e-9032-5d16963ad9b2',
	// to: 'leoli',												//指定关联对应的im号
	// appKey: 'talent-leoli123#leoli',											//关联的appkey,				appKey: 'orgName#appName'
	domain: '//kefu.easemob.com',											//环信移动客服域,			domain: '//kefu.easemob.com', 
	// domain: '//sandbox.kefu.easemob.com',											//环信移动客服域,			domain: '//kefu.easemob.com', 
	// path: '//172.17.2.64:81/kefu-webim',											//im.html的本机服务器路径,	path: '//XXX/webim'
	// staticPath: '//172.17.2.64:81/kefu-webim/static',										//访客插件static的路径,		staticPath: '//XXX/webim/static'
	// path: '//www.bdzcg7.natappfree.cc/kefu-webim',											//im.html的本机服务器路径,	path: '//XXX/webim'
	// staticPath: '//www.bdzcg7.natappfree.cc/kefu-webim/static',	
	// path: '//visitor.sina.com.cn/webim_made',
	// staticPath: '//visitor.sina.com.cn/webim_made/static',										//访客插件static的路径,		staticPath: '//XXX/webim/static'
	// xmppServer: 'im-api.easemob.com',										//环信IM服务器,				xmppServer: 'im-api.easemob.com'	
	// restServer: 'a1.easemob.com',										//环信REST服务器,			restServer: 'a1.easemob.com'
	autoConnect: true,									//自动连接7
	buttonText: '自定义',								//设置小按钮的文案 
	// hide: true,											//是否隐藏小的悬浮按钮
	resources: true,									//是否启用收消息同步
	dragenable: true,									//是否允许拖拽
	// dialogWidth: '400px',								//聊天窗口宽度
	// dialogHeight: '500px',								//聊天窗口高度
	// minimum: true,										//是否允许窗口最小化
	satisfaction: true,									//是否允许访客主动发起满意度评价
	soundReminder: true,								//是否启用声音提醒(低版本浏览器不支持)
	//dialogPosition: { x: '110px', y: '110px' },			//聊天窗口初始位置，坐标以视口右边距和下边距为基准
	// onmessage: function ( message ) {alert(JSON.stringify(message)) },				//收消息回调, 只对当前打开的聊天窗口有效
	// onready: function () { alert("ready")},							//聊天窗口加载成功回调
	// onsessionclosed: function ( message ) {alert("会话结束回调") },
	hideKeyboard: false,	
	ticket: true,  //true 为显示，false为隐藏
	hideStatus: true,
	// wechatAuth: true,   // 需要在微信浏览器打开
	// appid: 'wx1e7ed77036581061',
	// eventCollector: true,
	offDutyType: 'chat', //参数offDutyType:     1.none(只展示下班提示语。参数offDutyWord);     2.chat(下班强制进入会话)；   3.默认展示留言    
	offDutyWord: encodeURIComponent('下班时间，不让留言,请您联系电话：18612390240; 如果我们不在，请在后续联系我们。我们上班时间 8:20 - 9:00'),  //encodeURIComponent转化字符串
	/*onready: function(){
	    easemobim.sendExt({ext: {
	            "imageName": "mallImage3.png",
	            "type": "custom",
	            "msgtype": {	
	                "order": {
	                    "img_url": "http://public-test.oss-cn-hangzhou.aliyuncs.com/imgs/6dfdc29e0a7e4950b8466f4eab490140.jpeg",
	                    "title": "我正在看",
	                    "desc": "pc端午节粽子四",
	                    "order_title": "pc订单号：123456789012345678901234567890",
	                    "price": "111.10",
	                    "item_url": "https://www.baidu.com"
	                }
	            }
	        }});
	},*/
	// agentName: 'leoli@easemob.com', 
	/*extMsg: {
	    "imageName": "mallImage3.png",
	    "type": "custom",
	    "msgtype": {
	        "order": {
	            "img_url": "h\n.pn",
	            "title": "h5",
	            "desc": "h5端午节粽子四",
	            "order_title": "h5订单号：123456789012345678901234567890",
	            "price": "111.10",
	            "item_url": "http://sandbox.kefu.easemob.com/v1/Tenant/5371/MediaFiles/703aedb8-ba90-44aa-99c0-27885e0c612e44CQZGV2MzHjgJHorr_lrqLkuK3lv4PvvIzorr_lrqLor6bmg4XkuK3mj4_ov7DnvLrlsJHlrZfmlbDmj5DnpLoucG5n"
	        }
	    }
	},*/
	/*extMsg: {
			"cmd": {
				"updateVisitorInfoSrc": {
					"params": {
						"channel": 'wx'
					}
				}
			}
		},*/
	// customExtendMessage: {
	// 		robot: {
	// 			userId: '13331131313',
	// 			channel: "微信", // 知识库的渠道管理命名一致
	// 			context: { // 可选，根据需要自定义内容，透传给机器人
	// 				// 其他字段 },
	// 			},
	// 		},
	// 	},
	/*user: {
		username: '127_visitor_02',										//集成时必填,vip5:414vip5visitor_01   vip1:414test1visitor_01,02,03
		// password: '1',										//password验证方式
		token: 'YWMtfI9E_AMMEeidLPt6vVsfXV5sv_A0eRHkoOT3YpQCxx51kODAAwwR6JV5LUV9pGMsAwMAAAFhNYO2oQBPGgCEtmrq_v9ipxRj9JU_PTWMiy7fm5WrXB7_-ooDYD8m4A'											//token验证方式
	},*/
	/*user: {
		username: 'webim-visitor-TM6W9W2HX6RTKB6EYWK8',										//集成时必填,vip5:414vip5visitor_01   vip1:414test1visitor_01,02,03
		// password: '1',										//password验证方式
		token: 'YWMtkCSwdgKDEeiD6L9KXXpD2F5sv_A0eRHkoOT3YpQCxx7Ov0lg_C0R55vfPUroD11OAwMAAAFhMgJfHQBPGgDSvVugej2Hez3SfIgnnNl7A-N2B2zWMaj33Jy7AfPufw'											//token验证方式
	},/**/ 
	/*visitor: {
				trueName: 'crm_tag_visitor',
				qq: '2696563728',
				phone: '18612390240',
				companyName: '环信',
				userNickname: 'crm_tag_visitor',
				description: 'http://junjun-activity.xueba100.com/sem/dist/index.html?channel=SEMnew_360_pc_dy_%E9%AB%98%E4%BA%8C%E6%95%B0%E5%AD%A6%E4%B8%8B%E5%9F%B9%E8%AE%AD%E7%8F%AD%E5%93%AA%E5%AE%B6%E5%A5%BD&tel=4000101610&hasIM ---新版sem--- ',
				email: '123456@qq.com'
			},	*/									//访客信息
};
	

</script>

<script type="text/javascript">
if('{$smarty.session.user_name}')
{
    //easemobim.config.user.username = '{$smarty.session.user_name}' + '_im';
    //easemobim.config.user.password = '111111';
	//easemobim.config.user.token = 'YWMt-n6UrA0eEea_xVciP5hJ-AAAAVWREjivI_qJvusOZMljuadztjW4mZLIknQ';
}
</script> 
<!--CONFIG DEMO-->
<!-- <script src='//172.17.2.64:81/kefu-webim/en-US/easemob.js'></script> -->
<!-- <script src='//172.17.2.64:81/kefu-webim/easemob.js'></script> -->
<!-- <script src='//sandbox.kefu.easemob.com/webim/en-US/easemob.js'></script> -->
<!-- <script src='//visitor.sina.com.cn/webim_made/easemob.js'></script> -->
<!-- <script src='//grey.kefu.easemob.com/webim/easemob.js'></script> -->
<script src='//kefu.easemob.com/webim/en-US/easemob.js'></script>
<!--<script src='//192.168.0.10:81/kefu-webim-plugin43.14/easemob.js'></script>-->
<!-- <script src='//www.bdzcg7.natappfree.cc/kefu-webim/easemob.js'></script> -->



<style>


	#group-box{
	position:absolute;position:fixed;width:100px;height:200px;border:1px solid;background:#FFFFFF;padding:20px;
	}
	#group-box p{
		line-height:20px;
		padding:10px ;
	}
	#group-box p a{
		color:#E42F77;
		text-decoration:none;
		width:100px;
	}
	</style>

<div class="group-box" style="">

	<h3>正常版</h3>
	<p>
	<a href='javascript:;' onclick='easemobIM()'>默认组</a>

	<h3>旧版多租户</h3>
	<p>
	<a href="javascript:;" onclick="easemobIMS('634')">634默认组</a>
    </p>

	<h3>新版多租户</h3>
	<p>
	<a href='javascript:;' onclick='easemobim.bind({
		tenantId: 5963,
		appKey: "talent-leoli123#talent",	
		to: "414test1",
		xmppServer: "im-api.easemob.com",										
		restServer: "a1.easemob.com",		
		offDutyType: "none",	
		offDutyWord: encodeURIComponent("下班时间，不让留言,请您联系电话：18612390240; 如果我们不在，请在后续联系我们。我们上班时间 8:20 - 9:00")		
	})'>5963租户</a>
    </p>
	<p>
	<a href='javascript:;' onclick='easemobim.bind({
		tenantId: 5931,
		appKey: "easemob-demo#jianguo9",	
		to: "310test1",
		xmppServer: "im-api-vip5.easemob.com",										
		restServer: "a1-vip5.easemob.com",
		agentName: "310test1@qq.com",
		emgroup:"售前",
		user:{
		username: "5931_vip5_visitor",										
		password: "111111",	
		}
	})'>5931vip5</a>
    </p>

    <p>
	<a href='javascript:;' onclick='easemobim.bind({
		tenantId: 5371,
		appKey: "talent-leoli123#talent",	
		to: "leoli"
	})'>5371-leoli</a>
    </p>

    <p>
	<a href='javascript:;' onclick='easemobim.bind({
		tenantId: 5371,
		appKey: "easemob-demo#chatdemoui",	
		to: "522visitor_01",
	})'>5371-leoli售前</a>
    </p>

    <p>
	<a href='javascript:;' onclick='easemobim.bind({
		tenantId: 634
	})'>634</a>
    </p>

    <p>
	<a href='javascript:;' onclick='easemobim.bind({
		configId: "259b473e-ea32-4f1e-9032-5d16963ad9b2"
	})'>259b473e-ea32-4f1e-9032-5d16963ad9b2</a>
    </p>
	
	<p>
	<a href="javascript:;" onclick="easemobIMS('5969')">5969vip1</a>
    </p>

</div>

<div class="group-box" style="">
	<h3  style="text-align: left;">可配置版本</h3>
    <p>
	<a href='javascript:;' onclick='easemobim.bind({
		configId: "47ef9c12-6b80-43ef-ba8e-33a93958a497"				
		})'>11699租户</a>
    </p>

    <a href='javascript:;' onclick='easemobim.bind({
		configId: "259b473e-ea32-4f1e-9032-5d16963ad9b2"				
		})'>尚德测试</a>
    </p>

    <p>
	<a href='javascript:;' onclick='easemobim.bind({
		configId: "47ef9c12-6b80-43ef-ba8e-33a93958a497",
		agentName: "lijipeng_1@qq.com"							
		})'>11699-agentName</a>
    </p>

    <p>
	<a href='javascript:;' onclick='easemobim.bind({
		configId: "47ef9c12-6b80-43ef-ba8e-33a93958a497",
		onmessage: function ( message ) {alert(JSON.stringify(message)) },
		onready: function () { alert("ready")},		
		onsessionclosed: function ( message ) {alert("会话结束回调") },					
		})'>11699-回调</a>
    </p>

    <p>
	<a href='javascript:;' onclick='easemobim.bind({
		configId: "47ef9c12-6b80-43ef-ba8e-33a93958a497",
		visitor: {
				trueName: "李继鹏",
				qq: "260553619",
				phone: "18612390240",
				companyName: "环信",
				userNickname: "大帅哥-鹏鹏",
				description: "嗯，这个人还不错。是好人",
				email: "leoli@easemob.com"
			}					
		})'>11699-visitor</a>
    </p>

    <p>
	<a href='javascript:;' onclick='easemobim.bind({
		configId: "47ef9c12-6b80-43ef-ba8e-33a93958a497",
		user: {
		username: "a1_visitor_01",
		password: "1"
		}					
		})'>11699-user-北京</a>
    </p>

    <p>
	<a href='javascript:;' onclick='easemobim.bind({
		configId: "32290787-def5-4967-afba-9cc7f4f323c6",
		user: {
		username: "vip1_visitor_01",
		password: "1"
		},	
		xmppServer: "im-api-vip5.easemob.com",										
		restServer: "a1-vip5.easemob.com"				
		})'>11699-user-vip1</a>
    </p>

    <p>
	<a href='javascript:;' onclick='easemobim.bind({
		configId: "cfb3d1cb-51c7-4025-bd8f-17adffd77480",
		user: {
		username: "vip5_visitor_01",
		password: "1"
		},	
		xmppServer: "im-api-vip5.easemob.com",										
		restServer: "a1-vip5.easemob.com"				
		})'>11699-user-vip5</a>
    </p>

    <p>
	<a href='javascript:;' onclick='easemobim.bind({
		configId: "62a1e114-03ef-4210-b80b-0fd55201ffd5",
		user: {
		username: "vip6_visitor_01",
		password: "1"
		},	
		xmppServer: "im-api-vip6.easemob.com",										
		restServer: "a1-vip6.easemob.com"				
		})'>11699-user-vip6</a>
    </p>

    <p>
	<a href='javascript:;' onclick='easemobim.bind({
		configId: "3f1df053-6d74-4133-8b39-f1f35f9d9c4a"				
		})'>线上-634</a>
    </p>

    <p>
	<a href='https://sandbox.kefu.easemob.com/webim/im.html?tenantId=11699'>H5连接</a>
    </p>
</div>




</html>