
{% extends "base.html" %} {% block content %}  
<script type="text/javascript">   
var intialMymodal = function(){
    // initial control status
    document.getElementById('send_form').disabled=false;
    document.getElementById('cancel_form').disabled=false;
	var msg= document.getElementById('msg_submit_return');
    msg.innerHTML= "";}

</script>

	<!-- if ("{{options_to_show.2}}"=="block"){
	var select = document.getElementById('id_cfg')
	select.selectedIndex =1;
	if ("createEvent" in document) {
    var evt = document.createEvent("HTMLEvents");
    evt.initEvent("change", false, true);
    select.dispatchEvent(evt);
	}
	else
	{
    select.fireEvent("onchange");
	} -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>测试配置信息(选择预置或输入)</h3>
	</div>
	
	<div class="modal-body">
	<form method="post" action="/" id="configinfo" autocomplete="on">
		<!--
		<br>
		测试脚本：<select id="id_prj" name="prj" >
		 {% for one in allProjects%} <option value="{{one}}">{{one}}</option> {% endfor %}
		</select><br>
		-->

		<div id="dd_rest" >
		选择配置：<select id="id_cfg" name="id_cfg" onchange="if (typeof(this.selectedIndex) != 'undefined') setValues( this.selectedIndex-1)">
		<option style="display: none"></option>
		{% for one in ConfigInfo%} <option value="{{one}}" >{{one.testserver}},{{one.org}}#{{one.app}}</option> {% endfor %} 
		</select></div><br>
		<div id="dd_rest1" style="display:{{options_to_show.0}}">
		Server:<input type="text" id="id_host" name="id_host"  size="30"><br>
		Appkey:<input type="text" id="id_org" name="id_org" class="span2">#<input type="text" id="id_app" name="id_app" class="span2"><br>

		client_id：<input type="text" id="id_clientid" name="id_clientid"  size="30"><br>
		client_se：<input type="text" id="id_clientse" name="id_clientse" size="30"><br>
		</div><br>
		<!--- im settings ----->
		<div id="dd_im" style="display:{{options_to_show.1}}">
		IM server:<input type="text" id="id_imserver" name="id_imserver" class="span2">
			Port:<input type="text" id="id_import" name="id_imserver" class="span2"><br>
		</div>
		<!--- kefu settings ----->
		<div id="dd_url" style="display:{{options_to_show.2}}">
		  kefu server:<input id="id_kefu_srv" type="text">		
		</div>
	

		<input type="text" id="id_mail" name="id_mail" value="{{username}} " style="display:none">
		测试名称：<input type="text" id="id_test" name="id_test" ><br>
		<dd class="error" id="msg_submit_return"></dd>

	</form>
	</div>
	
	<div class="modal-footer">
    <button id="send_form" value="" ONCLICK="submittest();" class="btn btn-primary btn-large">提交</button>
	<button id="cancel_form" value="" ONCLICK="showLogIn('0',document);" data-dismiss="modal"  class="btn btn-primary btn-large">取消</button>
	</div>
</div>


<nav class="navbar navbar-fixed-top">

<ul class="nav nav-pills nav-justified">
<li role="presentation" class='{{selected.0}}'>
<a href="javascript: void(0)" onclick="post('/', {t:'0',name:'{{username}}'});">REST API TEST</a>
</li>
<li role="presentation" class='{{selected.1}}'>
<a href="javascript: void(0)" onclick="post('/', {t:'1',name:'{{username}}'});">XMPP TEST</a>
</li>

<li role="presentation" class='{{selected.2}}'>
	<a href="javascript: void(0)" onclick="post('/', {t:'2',name:'{{username}}'});">客服 API</a>
  </li>
<li role="presentation" class='{{selected.4}}'>
	<a href="javascript: void(0)" onclick="post('/', {t:'4',name:'{{username}}'});">REST CI</a>
  </li>
<li role="presentation" class='{{selected.3}}'>
	<a href="javascript: void(0)" onclick="post('/', {t:'3',name:'{{username}}'});">辅助工具</a>
  </li>
<li role="presentation" >
	<div style="padding-bottom: 24px;">
	<a data-toggle="modal" href="#myModal" class="btn btn-primary" onclick="intialMymodal()">Start one test?</a>
	</div>
</li>
<li role="presentation" class=''>
	<a href="javascript: void(0)" onclick="">&nbsp;</a>
</li>
<li role="presentation" class=''>
	<a href="javascript: void(0)" onclick="">&nbsp;</a>
</li>
<li><p class="navbar-text navbar-right">{{secondSrv.1}}<a href="http://{{secondSrv.0}}/" class="navbar-link">{{secondSrv.0}}</a></p>
</li>

</ul>
</nav>




<div class="jumbotron">
<table class="table table-hover">
<tr>
<td><p></p></td>
</tr><tr>
<td><p></p></td>
</tr>


<tr>
<th><p>ID</p></th>
<th><p>测试名称</p></th>
<th><p>PASS</p></th>
<th><p>FAIL</p></th>
<th><p>Result</p></th>
<th style="display:{{hiddenForTab.2}}"><p>URL</p></th>
<th><p>Server</p></th>
<th><p>Org</p></th>
<th><p>App</p></th>
<th style="display:{{hiddenForTab.1}}"><p>IM server,port</p></th>
<th><p>启动时间</p></th>
<th><p>运行(s)</p></th>
<th><p>tester</p></th>
</tr>

{% for one in alldata%}             
  <tr class='clickable-row' data-href="/testrun/?id={{one.testrun.0}}&url={{one.testrun.16}}">
  
  <td><p>{{one.testrun.0}}</p></td>
  <td><p>{{one.testrun.1}}</p></td>
  <td><p>{{one.testrun.2}}</p></td>
  <td><p>{{one.testrun.3}}</p></td>

  <td><p><a href="/testrun/?id={{one.testrun.0}}&url={{one.testrun.16}}"><font color="{{one.color}}">{{one.status}}</font>  </a></p></td>
  <td  style="display:{{hiddenForTab.2}}"><p>{{one.testrun.16}}</p></td>  
  <td><p>{{one.testrun.7}}</p></td>  
  <td><p>{{one.testrun.5}}</p></td>
  <td><p>{{one.testrun.6}}</p></td>
  <td  style="display:{{hiddenForTab.1}}"><p>{{one.testrun.12}},{{one.testrun.13}}</p></td>
  <td><p>{{one.testrun.4}}</p></td>
  <td><p>{{one.testrun.8}}</p></td>
  <td><p>{{one.testrun.9}}</p></td>  

  </tr>
  
{% endfor %} 

</table>
</div>


{% endblock %} 
