<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" http-equiv="refresh" content="100">
<title>自定义回调地址</title>
</head>

<button onclick="window.history.back();" class="btn btn-lg btn-primary">返回上一页</button>
<button onclick="window.location.reload();" class="btn btn-lg btn-primary">新刷新页面</button>

<p><img src="http://sandbox.kefu.easemob.com/v1/Tenant/11699/MediaFiles/3038e69a-aaef-4f54-8857-c1915ae0ccaeaW1hZ2UucG5n" width="200" height="300" />懵智...</p>

<br>

<style>

body
{
	background-color:#FFFFFF;
    <!--background-image:url('http://sandbox.kefu.easemob.com/v1/Tenant/11699/MediaFiles/3038e69a-aaef-4f54-8857-c1915ae0ccaeaW1hZ2UucG5n');-->
}

</style>


<div class="jumbotron">

<table class="table table-striped" border="2">

<tr>
<td><p>ID</p></td>
<td><p>事件名称</p></td>
<td><p>消息</p></td>
<td><p>事件时间戳</p></td>
<td><p>测试日志</p></td>
<td><p>回调网站接收时间</p></td>
</tr>

{% for one in alldata%}
  <tr>
  <td><p>{{one.teststep.0}}</p></td>
  <td><p>{{one.teststep.1}}</p></td>
  <td><p>{{one.teststep.2}}</p></td>
  <td><p>{{one.teststep.3}}</p></td>
  <td><p>{{one.teststep.4}}</p></td>
  <td><p>{{one.teststep.5}}</p></td>
  </tr>
{% endfor %}

</table>
</div>


<script type="text/javascript">
window.scrollTo(0,document.body.scrollHeight);
</script>

</body>
</html>